* {
  color: #00ffaa;
  font-family: Arial, sans-serif;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #6e6e6e;
  padding: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 15vw;
  max-width: 200px;
  height: auto;
}

.nav-bar {
  color: #00ffaa;
  text-align: right;
}
